<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'style35.css')}}">
	<title></title>
</head>
<body>
{% include "header.html" %}
<div class="pane">
<h1>Edit Restaurant...</h1>

<form action="{{ url_for('editRestaurant', restaurant_id = i.id)}}" method = 'post'>
	
	<dl>
		<dt>Name:</dt>
		<dd><input type="text" name="name" size="30" placeholder="{{i.name}}"></dd>
	</dl>
	<input type="submit" value = "OK">
	<a href = "{{url_for('showRestaurants')}}"><input type="button" value = "Cancel"></a>
</form></div>
</div>
</body>
</html>