<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'style35.css')}}">
	<title></title>
</head>
<body>
{% include "header.html" %}
<div class="pane">
<h1>Add Menu Items...</h1>
<form action="{{url_for('newMenuItem' , restaurant_id = restaurant_id)}}" , method = "post">

<dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='30' name='name' placeholder='Dish Name'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows='5' cols='40' placeholder = 'Description'></textarea></dd>
	<dt>Price:</dt>
		<dd><input type = 'text' size = '8' name='price' placeholder = 'Price'></dd>
	
	<dt>Course:</dt>
		<dd><input type ='radio' name='course' value='Appetizer'>Appetizer</dd>
        <dd><input type ='radio' name='course' value='Entree'>Entree</dd>
		<dd><input type ='radio' name='course' value='Dessert'>Dessert</dd>
		<dd><input type ='radio' name='course' value='Beverage'>Beverage</dd>
</dl>

	<input type="submit" value = "Create">
	<a href = "{{url_for('showMenu' , restaurant_id = restaurant_id)}}"><input type="button" value = "Cancel"></a>
</form>
</div>
</body>
</html>