<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static' , filename = 'style35.css')}}">
</head>
<body>
{% include "header.html" %}
<div class="pane">
<h1>Restaurants Near You...</h1>

<div class="flash">
	
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	<ul>
		{% for message in messages %}
		<li><strong>{{ message }}</strong></li>
		{% endfor %}
	</ul>

	{% endif %}
	{% endwith %}
</div>

<ul>
{% for restaurant in restaurants %}
<a href="{{url_for('showMenu', restaurant_id = restaurant.id)}}"><li>{{restaurant.name}}</li></a>
</br>

{% endfor %}
</ul>
<h3><a href="{{url_for('newRestaurant')}}">Click Here</a> to Create New Restaurant...</h3>
</div>
</body>
</html>