<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>


<h2> Here is list of restaurants in service now...</h2>

<div class="flash">
	
	{% with messages = get_flashed_messages() %}
	{% if messages %}

	<ul>
		{% for message in messages %}
		<li><strong>{{ message }}</strong></li>
		{% endfor %}
	</ul>

	{% endif %}
	{% endwith %}
</div>

<ul>
{% for restaurant in restaurants%}
<li>{{restaurant.name}}</li>
</ul>
<div class="editdeletepane">
	<a href="{{url_for('editRestaurant', restaurant_id = restaurant">Edit</a>
	<a href="{{url_for('deleteRestaurant', restaurant_id = restaurant_id)}}">Delete</a>
</div>

<h3><a href="{{newRestaurant"}}>Click Here</a> to Create New Restaurant...</h3>
</body>
</html>